<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/clinicals.css' %}"/>
    <title>Clinical Data</title>
</head>
<body>
  <h2>Patient Details:</h2>
  <p> First Name: {{patient.firstName}} </p>
  <p> Last Name: {{patient.lastName}} </p>
  <p> Age: {{patient.age}} </p>
  <h2>Patient Clinical Data:</h2>
  <form method="post">
    <table>
      {{form.as_table}}
      {% csrf_token %}
    </table>
    <input type="submit" value="Save">
  </form>
</body>
</html>
