<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/clinicals.css' %}"/>
    <title>Clinical Data Report</title>
</head>
<body>
  <h1>Clinical Data Report</h1>
  <table border='2'>
    <thead>
      <th>Component Name</th>
      <th>Component Value</th>
      <th>Measure Date and Time</th>
    </thead>
    {% for eachEntry in data %}
      <tr>
        <td>{{ eachEntry.ComponentName }}</td>
        <td>{{ eachEntry.ComponentValue }}</td>
        <td>{{ eachEntry.measuresDateTime }}</td>
      </tr>

    {% endfor %}
  </table>
  <a href="/">Home</a>
</body>
</html>
